.jazz-admin [class^="icon-extra-"],
.jazz-admin [class*=" icon-extra-"]{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;  
  background-image:url('../assets/img/glyphicons.png');
  background-repeat: no-repeat; 
  background-position: 24px 24px;
  background-repeat: no-repeat;
}
.jazz-admin .icon-extra-glass{ background-position: 0 0; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-leaf{ background-position: 0 -74px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-dog{ background-position: 0 -149px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-user{ background-position: 0 -224px; width: 23px; height: 22px; } 
.jazz-admin .icon-extra-girl{ background-position: 0 -296px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-car{ background-position: 0 -368px; width: 26px; height: 22px; } 
.jazz-admin .icon-extra-user_add{ background-position: 0 -440px; width: 28px; height: 22px; } 
.jazz-admin .icon-extra-user_remove{ background-position: 0 -512px; width: 26px; height: 22px; } 
.jazz-admin .icon-extra-film{ background-position: 0 -584px; width: 22px; height: 26px; } 
.jazz-admin .icon-extra-magic{ background-position: 0 -660px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-envelope{ background-position: 0 -734px; width: 24px; height: 16px; } 
.jazz-admin .icon-extra-camera{ background-position: 0 -800px; width: 26px; height: 20px; } 
.jazz-admin .icon-extra-heart{ background-position: 0 -870px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-beach_umbrella{ background-position: 0 -942px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-train{ background-position: 0 -1016px; width: 20px; height: 26px; } 
.jazz-admin .icon-extra-print{ background-position: 0 -1092px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bin{ background-position: 0 -1166px; width: 20px; height: 28px; } 
.jazz-admin .icon-extra-music{ background-position: 0 -1244px; width: 21px; height: 25px; } 
.jazz-admin .icon-extra-note{ background-position: 0 -1319px; width: 18px; height: 25px; } 
.jazz-admin .icon-extra-heart_empty{ background-position: 0 -1394px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-home{ background-position: 0 -1466px; width: 27px; height: 26px; } 
.jazz-admin .icon-extra-snowflake{ background-position: 0 -1542px; width: 28px; height: 28px; } 
.jazz-admin .icon-extra-fire{ background-position: 0 -1620px; width: 21px; height: 26px; } 
.jazz-admin .icon-extra-magnet{ background-position: 0 -1696px; width: 21px; height: 23px; } 
.jazz-admin .icon-extra-parents{ background-position: 0 -1769px; width: 32px; height: 22px; } 
.jazz-admin .icon-extra-binoculars{ background-position: 0 -1841px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-road{ background-position: 0 -1915px; width: 28px; height: 24px; } 
.jazz-admin .icon-extra-search{ background-position: -82px 0; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-cars{ background-position: -82px -74px; width: 36px; height: 25px; } 
.jazz-admin .icon-extra-notes_2{ background-position: -82px -149px; width: 20px; height: 27px; } 
.jazz-admin .icon-extra-pencil{ background-position: -82px -226px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bus{ background-position: -82px -300px; width: 32px; height: 25px; } 
.jazz-admin .icon-extra-wifi_alt{ background-position: -82px -375px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-luggage{ background-position: -82px -451px; width: 20px; height: 27px; } 
.jazz-admin .icon-extra-old_man{ background-position: -82px -528px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-woman{ background-position: -82px -602px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-file{ background-position: -82px -674px; width: 19px; height: 24px; } 
.jazz-admin .icon-extra-coins{ background-position: -82px -748px; width: 26px; height: 24px; } 
.jazz-admin .icon-extra-airplane{ background-position: -82px -822px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-notes{ background-position: -82px -897px; width: 20px; height: 25px; } 
.jazz-admin .icon-extra-stats{ background-position: -82px -972px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-charts{ background-position: -82px -1047px; width: 27px; height: 24px; } 
.jazz-admin .icon-extra-pie_chart{ background-position: -82px -1121px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-group{ background-position: -82px -1196px; width: 35px; height: 22px; } 
.jazz-admin .icon-extra-keys{ background-position: -82px -1268px; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-calendar{ background-position: -82px -1344px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-router{ background-position: -82px -1418px; width: 27px; height: 26px; } 
.jazz-admin .icon-extra-camera_small{ background-position: -82px -1494px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-dislikes{ background-position: -82px -1568px; width: 25px; height: 24px; } 
.jazz-admin .icon-extra-star{ background-position: -82px -1642px; width: 25px; height: 24px; } 
.jazz-admin .icon-extra-link{ background-position: -82px -1716px; width: 21px; height: 23px; } 
.jazz-admin .icon-extra-eye_open{ background-position: -82px -1789px; width: 31px; height: 17px; } 
.jazz-admin .icon-extra-eye_close{ background-position: -82px -1856px; width: 31px; height: 24px; } 
.jazz-admin .icon-extra-alarm{ background-position: -82px -1930px; width: 27px; height: 25px; } 
.jazz-admin .icon-extra-clock{ background-position: -168px 0; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-stopwatch{ background-position: -168px -74px; width: 23px; height: 27px; } 
.jazz-admin .icon-extra-projector{ background-position: -168px -151px; width: 28px; height: 25px; } 
.jazz-admin .icon-extra-history{ background-position: -168px -226px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-truck{ background-position: -168px -302px; width: 32px; height: 27px; } 
.jazz-admin .icon-extra-cargo{ background-position: -168px -379px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-compass{ background-position: -168px -455px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-keynote{ background-position: -168px -529px; width: 20px; height: 30px; } 
.jazz-admin .icon-extra-paperclip{ background-position: -168px -609px; width: 26px; height: 24px; } 
.jazz-admin .icon-extra-power{ background-position: -168px -683px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-lightbulb{ background-position: -168px -757px; width: 20px; height: 26px; } 
.jazz-admin .icon-extra-tag{ background-position: -168px -833px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-tags{ background-position: -168px -907px; width: 30px; height: 24px; } 
.jazz-admin .icon-extra-cleaning{ background-position: -168px -981px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-ruller{ background-position: -168px -1056px; width: 27px; height: 14px; } 
.jazz-admin .icon-extra-gift{ background-position: -168px -1120px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-umbrella{ background-position: -168px -1195px; width: 26px; height: 28px; } 
.jazz-admin .icon-extra-book{ background-position: -168px -1273px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-bookmark{ background-position: -168px -1347px; width: 15px; height: 24px; } 
.jazz-admin .icon-extra-wifi{ background-position: -168px -1421px; width: 31px; height: 23px; } 
.jazz-admin .icon-extra-cup{ background-position: -168px -1494px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-stroller{ background-position: -168px -1568px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-headphones{ background-position: -168px -1644px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-headset{ background-position: -168px -1718px; width: 24px; height: 28px; } 
.jazz-admin .icon-extra-warning_sign{ background-position: -168px -1796px; width: 29px; height: 24px; } 
.jazz-admin .icon-extra-signal{ background-position: -168px -1870px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-retweet{ background-position: -168px -1944px; width: 28px; height: 15px; } 
.jazz-admin .icon-extra-refresh{ background-position: -254px 0; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-roundabout{ background-position: -254px -76px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-random{ background-position: -254px -152px; width: 28px; height: 20px; } 
.jazz-admin .icon-extra-heat{ background-position: -254px -222px; width: 29px; height: 25px; } 
.jazz-admin .icon-extra-repeat{ background-position: -254px -297px; width: 23px; height: 26px; } 
.jazz-admin .icon-extra-display{ background-position: -254px -373px; width: 28px; height: 24px; } 
.jazz-admin .icon-extra-log_book{ background-position: -254px -447px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-adress_book{ background-position: -254px -521px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-building{ background-position: -254px -595px; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-eyedropper{ background-position: -254px -671px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-adjust{ background-position: -254px -745px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-tint{ background-position: -254px -821px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-crop{ background-position: -254px -896px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-vector_path_square{ background-position: -254px -972px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vector_path_circle{ background-position: -254px -1046px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vector_path_polygon{ background-position: -254px -1120px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-vector_path_line{ background-position: -254px -1195px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vector_path_curve{ background-position: -254px -1269px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vector_path_all{ background-position: -254px -1343px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-font{ background-position: -254px -1417px; width: 27px; height: 23px; } 
.jazz-admin .icon-extra-italic{ background-position: -254px -1490px; width: 14px; height: 24px; } 
.jazz-admin .icon-extra-bold{ background-position: -254px -1564px; width: 19px; height: 24px; } 
.jazz-admin .icon-extra-text_underline{ background-position: -254px -1638px; width: 20px; height: 24px; } 
.jazz-admin .icon-extra-text_strike{ background-position: -254px -1712px; width: 20px; height: 22px; } 
.jazz-admin .icon-extra-text_height{ background-position: -254px -1784px; width: 26px; height: 24px; } 
.jazz-admin .icon-extra-text_width{ background-position: -254px -1858px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-text_resize{ background-position: -254px -1932px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-left_indent{ background-position: -340px 0; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-right_indent{ background-position: -340px -72px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-align_left{ background-position: -340px -144px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-align_center{ background-position: -340px -215px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-align_right{ background-position: -340px -286px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-justify{ background-position: -340px -357px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-list{ background-position: -340px -428px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-text_smaller{ background-position: -340px -499px; width: 22px; height: 16px; } 
.jazz-admin .icon-extra-text_bigger{ background-position: -340px -565px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-embed{ background-position: -340px -637px; width: 30px; height: 14px; } 
.jazz-admin .icon-extra-embed_close{ background-position: -340px -701px; width: 30px; height: 24px; } 
.jazz-admin .icon-extra-table{ background-position: -340px -775px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-message_full{ background-position: -340px -849px; width: 24px; height: 28px; } 
.jazz-admin .icon-extra-message_empty{ background-position: -340px -927px; width: 24px; height: 28px; } 
.jazz-admin .icon-extra-message_in{ background-position: -340px -1005px; width: 24px; height: 28px; } 
.jazz-admin .icon-extra-message_out{ background-position: -340px -1083px; width: 24px; height: 28px; } 
.jazz-admin .icon-extra-message_plus{ background-position: -340px -1161px; width: 29px; height: 23px; } 
.jazz-admin .icon-extra-message_minus{ background-position: -340px -1234px; width: 29px; height: 23px; } 
.jazz-admin .icon-extra-message_ban{ background-position: -340px -1307px; width: 29px; height: 23px; } 
.jazz-admin .icon-extra-message_flag{ background-position: -340px -1380px; width: 27px; height: 23px; } 
.jazz-admin .icon-extra-message_lock{ background-position: -340px -1453px; width: 28px; height: 24px; } 
.jazz-admin .icon-extra-message_new{ background-position: -340px -1527px; width: 28px; height: 22px; } 
.jazz-admin .icon-extra-inbox{ background-position: -340px -1599px; width: 24px; height: 23px; } 
.jazz-admin .icon-extra-inbox_plus{ background-position: -340px -1672px; width: 27px; height: 27px; } 
.jazz-admin .icon-extra-inbox_minus{ background-position: -340px -1749px; width: 27px; height: 27px; } 
.jazz-admin .icon-extra-inbox_lock{ background-position: -340px -1826px; width: 26px; height: 28px; } 
.jazz-admin .icon-extra-inbox_in{ background-position: -340px -1904px; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-inbox_out{ background-position: -426px 0; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-cogwheel{ background-position: -426px -76px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-cogwheels{ background-position: -426px -150px; width: 34px; height: 27px; } 
.jazz-admin .icon-extra-picture{ background-position: -426px -227px; width: 24px; height: 20px; } 
.jazz-admin .icon-extra-adjust_alt{ background-position: -426px -297px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-database_lock{ background-position: -426px -371px; width: 26px; height: 28px; } 
.jazz-admin .icon-extra-database_plus{ background-position: -426px -449px; width: 27px; height: 27px; } 
.jazz-admin .icon-extra-database_minus{ background-position: -426px -526px; width: 27px; height: 27px; } 
.jazz-admin .icon-extra-database_ban{ background-position: -426px -603px; width: 26px; height: 27px; } 
.jazz-admin .icon-extra-folder_open{ background-position: -426px -680px; width: 30px; height: 22px; } 
.jazz-admin .icon-extra-folder_plus{ background-position: -426px -752px; width: 29px; height: 25px; } 
.jazz-admin .icon-extra-folder_minus{ background-position: -426px -827px; width: 29px; height: 25px; } 
.jazz-admin .icon-extra-folder_lock{ background-position: -426px -902px; width: 28px; height: 26px; } 
.jazz-admin .icon-extra-folder_flag{ background-position: -426px -978px; width: 27px; height: 25px; } 
.jazz-admin .icon-extra-folder_new{ background-position: -426px -1053px; width: 28px; height: 24px; } 
.jazz-admin .icon-extra-edit{ background-position: -426px -1127px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-new_window{ background-position: -426px -1198px; width: 26px; height: 22px; } 
.jazz-admin .icon-extra-check{ background-position: -426px -1270px; width: 22px; height: 18px; } 
.jazz-admin .icon-extra-unchecked{ background-position: -426px -1338px; width: 18px; height: 18px; } 
.jazz-admin .icon-extra-more_windows{ background-position: -426px -1406px; width: 23px; height: 23px; } 
.jazz-admin .icon-extra-show_big_thumbnails{ background-position: -426px -1479px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-show_thumbnails{ background-position: -426px -1551px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-show_thumbnails_with_lines{ background-position: -426px -1623px; width: 24px; height: 15px; } 
.jazz-admin .icon-extra-show_lines{ background-position: -426px -1688px; width: 24px; height: 15px; } 
.jazz-admin .icon-extra-playlist{ background-position: -426px -1753px; width: 29px; height: 24px; } 
.jazz-admin .icon-extra-imac{ background-position: -426px -1827px; width: 26px; height: 22px; } 
.jazz-admin .icon-extra-macbook{ background-position: -426px -1899px; width: 28px; height: 15px; } 
.jazz-admin .icon-extra-ipad{ background-position: -512px 0; width: 22px; height: 27px; } 
.jazz-admin .icon-extra-iphone{ background-position: -512px -77px; width: 14px; height: 24px; } 
.jazz-admin .icon-extra-iphone_transfer{ background-position: -512px -151px; width: 29px; height: 24px; } 
.jazz-admin .icon-extra-iphone_exchange{ background-position: -512px -225px; width: 29px; height: 24px; } 
.jazz-admin .icon-extra-ipod{ background-position: -512px -299px; width: 14px; height: 22px; } 
.jazz-admin .icon-extra-ipod_shuffle{ background-position: -512px -371px; width: 15px; height: 13px; } 
.jazz-admin .icon-extra-ear_plugs{ background-position: -512px -434px; width: 20px; height: 24px; } 
.jazz-admin .icon-extra-phone{ background-position: -512px -508px; width: 15px; height: 25px; } 
.jazz-admin .icon-extra-step_backward{ background-position: -512px -583px; width: 14px; height: 18px; } 
.jazz-admin .icon-extra-fast_backward{ background-position: -512px -651px; width: 25px; height: 18px; } 
.jazz-admin .icon-extra-rewind{ background-position: -512px -719px; width: 23px; height: 18px; } 
.jazz-admin .icon-extra-play{ background-position: -512px -787px; width: 16px; height: 18px; } 
.jazz-admin .icon-extra-pause{ background-position: -512px -855px; width: 10px; height: 16px; } 
.jazz-admin .icon-extra-stop{ background-position: -512px -921px; width: 14px; height: 14px; } 
.jazz-admin .icon-extra-forward{ background-position: -512px -985px; width: 23px; height: 18px; } 
.jazz-admin .icon-extra-fast_forward{ background-position: -512px -1053px; width: 25px; height: 18px; } 
.jazz-admin .icon-extra-step_forward{ background-position: -512px -1121px; width: 14px; height: 18px; } 
.jazz-admin .icon-extra-eject{ background-position: -512px -1189px; width: 18px; height: 17px; } 
.jazz-admin .icon-extra-facetime_video{ background-position: -512px -1256px; width: 24px; height: 16px; } 
.jazz-admin .icon-extra-download_alt{ background-position: -512px -1322px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-mute{ background-position: -512px -1396px; width: 22px; height: 15px; } 
.jazz-admin .icon-extra-volume_down{ background-position: -512px -1461px; width: 16px; height: 15px; } 
.jazz-admin .icon-extra-volume_up{ background-position: -512px -1526px; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-screenshot{ background-position: -512px -1602px; width: 27px; height: 27px; } 
.jazz-admin .icon-extra-move{ background-position: -512px -1679px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-more{ background-position: -512px -1753px; width: 22px; height: 6px; } 
.jazz-admin .icon-extra-brightness_reduce{ background-position: -512px -1809px; width: 20px; height: 20px; } 
.jazz-admin .icon-extra-brightness_increase{ background-position: -512px -1879px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-circle_plus{ background-position: -598px 0; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_minus{ background-position: -598px -76px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_remove{ background-position: -598px -152px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_ok{ background-position: -598px -228px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_question_mark{ background-position: -598px -304px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_info{ background-position: -598px -380px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_exclamation_mark{ background-position: -598px -456px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-remove{ background-position: -598px -532px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-ok{ background-position: -598px -608px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-ban{ background-position: -598px -684px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-download{ background-position: -598px -760px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-upload{ background-position: -598px -836px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-shopping_cart{ background-position: -598px -912px; width: 26px; height: 23px; } 
.jazz-admin .icon-extra-lock{ background-position: -598px -985px; width: 21px; height: 26px; } 
.jazz-admin .icon-extra-unlock{ background-position: -598px -1061px; width: 21px; height: 26px; } 
.jazz-admin .icon-extra-electricity{ background-position: -598px -1137px; width: 11px; height: 24px; } 
.jazz-admin .icon-extra-ok_2{ background-position: -598px -1211px; width: 25px; height: 19px; } 
.jazz-admin .icon-extra-remove_2{ background-position: -598px -1280px; width: 18px; height: 18px; } 
.jazz-admin .icon-extra-cart_out{ background-position: -598px -1348px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-cart_in{ background-position: -598px -1423px; width: 26px; height: 24px; } 
.jazz-admin .icon-extra-left_arrow{ background-position: -598px -1497px; width: 20px; height: 18px; } 
.jazz-admin .icon-extra-right_arrow{ background-position: -598px -1565px; width: 20px; height: 18px; } 
.jazz-admin .icon-extra-down_arrow{ background-position: -598px -1633px; width: 18px; height: 20px; } 
.jazz-admin .icon-extra-up_arrow{ background-position: -598px -1703px; width: 18px; height: 20px; } 
.jazz-admin .icon-extra-resize_small{ background-position: -598px -1773px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-resize_full{ background-position: -598px -1847px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-circle_arrow_left{ background-position: -598px -1921px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_arrow_right{ background-position: -684px 0; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_arrow_top{ background-position: -684px -76px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-circle_arrow_down{ background-position: -684px -152px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-play_button{ background-position: -684px -228px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-unshare{ background-position: -684px -304px; width: 24px; height: 18px; } 
.jazz-admin .icon-extra-share{ background-position: -684px -372px; width: 24px; height: 18px; } 
.jazz-admin .icon-extra-chevron-right{ background-position: -684px -440px; width: 15px; height: 22px; } 
.jazz-admin .icon-extra-chevron-left{ background-position: -684px -512px; width: 15px; height: 22px; } 
.jazz-admin .icon-extra-bluetooth{ background-position: -684px -584px; width: 14px; height: 24px; } 
.jazz-admin .icon-extra-euro{ background-position: -684px -658px; width: 22px; height: 23px; } 
.jazz-admin .icon-extra-usd{ background-position: -684px -731px; width: 17px; height: 26px; } 
.jazz-admin .icon-extra-gbp{ background-position: -684px -807px; width: 17px; height: 24px; } 
.jazz-admin .icon-extra-retweet_2{ background-position: -684px -881px; width: 33px; height: 21px; } 
.jazz-admin .icon-extra-moon{ background-position: -684px -952px; width: 21px; height: 24px; } 
.jazz-admin .icon-extra-sun{ background-position: -684px -1026px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-cloud{ background-position: -684px -1100px; width: 27px; height: 17px; } 
.jazz-admin .icon-extra-direction{ background-position: -684px -1167px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-brush{ background-position: -684px -1243px; width: 25px; height: 22px; } 
.jazz-admin .icon-extra-pen{ background-position: -684px -1315px; width: 23px; height: 23px; } 
.jazz-admin .icon-extra-zoom_in{ background-position: -684px -1388px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-zoom_out{ background-position: -684px -1463px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-pin{ background-position: -684px -1538px; width: 10px; height: 24px; } 
.jazz-admin .icon-extra-albums{ background-position: -684px -1612px; width: 28px; height: 18px; } 
.jazz-admin .icon-extra-rotation_lock{ background-position: -684px -1680px; width: 27px; height: 24px; } 
.jazz-admin .icon-extra-flash{ background-position: -684px -1754px; width: 14px; height: 24px; } 
.jazz-admin .icon-extra-google_maps{ background-position: -684px -1828px; width: 16px; height: 24px; } 
.jazz-admin .icon-extra-anchor{ background-position: -684px -1902px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-conversation{ background-position: -770px 0; width: 25px; height: 18px; } 
.jazz-admin .icon-extra-chat{ background-position: -770px -68px; width: 24px; height: 19px; } 
.jazz-admin .icon-extra-male{ background-position: -770px -137px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-female{ background-position: -770px -209px; width: 16px; height: 27px; } 
.jazz-admin .icon-extra-asterisk{ background-position: -770px -286px; width: 20px; height: 20px; } 
.jazz-admin .icon-extra-divide{ background-position: -770px -356px; width: 18px; height: 16px; } 
.jazz-admin .icon-extra-snorkel_diving{ background-position: -770px -422px; width: 27px; height: 25px; } 
.jazz-admin .icon-extra-scuba_diving{ background-position: -770px -497px; width: 27px; height: 24px; } 
.jazz-admin .icon-extra-oxygen_bottle{ background-position: -770px -571px; width: 22px; height: 27px; } 
.jazz-admin .icon-extra-fins{ background-position: -770px -648px; width: 31px; height: 27px; } 
.jazz-admin .icon-extra-fishes{ background-position: -770px -725px; width: 28px; height: 30px; } 
.jazz-admin .icon-extra-boat{ background-position: -770px -805px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-delete{ background-position: -770px -879px; width: 26px; height: 17px; } 
.jazz-admin .icon-extra-sheriffs_star{ background-position: -770px -946px; width: 24px; height: 26px; } 
.jazz-admin .icon-extra-qrcode{ background-position: -770px -1022px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-barcode{ background-position: -770px -1096px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-pool{ background-position: -770px -1170px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-buoy{ background-position: -770px -1244px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-spade{ background-position: -770px -1318px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bank{ background-position: -770px -1392px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vcard{ background-position: -770px -1466px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-electrical_plug{ background-position: -770px -1540px; width: 18px; height: 25px; } 
.jazz-admin .icon-extra-flag{ background-position: -770px -1615px; width: 21px; height: 26px; } 
.jazz-admin .icon-extra-credit_card{ background-position: -770px -1691px; width: 26px; height: 19px; } 
.jazz-admin .icon-extra-keyboard_wireless{ background-position: -770px -1760px; width: 27px; height: 19px; } 
.jazz-admin .icon-extra-keyboard_wired{ background-position: -770px -1829px; width: 27px; height: 25px; } 
.jazz-admin .icon-extra-shield{ background-position: -770px -1904px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-ring{ background-position: -856px 0; width: 21px; height: 24px; } 
.jazz-admin .icon-extra-cake{ background-position: -856px -74px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-drink{ background-position: -856px -148px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-beer{ background-position: -856px -222px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-fast_food{ background-position: -856px -296px; width: 28px; height: 24px; } 
.jazz-admin .icon-extra-cutlery{ background-position: -856px -370px; width: 13px; height: 24px; } 
.jazz-admin .icon-extra-pizza{ background-position: -856px -444px; width: 26px; height: 29px; } 
.jazz-admin .icon-extra-birthday_cake{ background-position: -856px -523px; width: 26px; height: 29px; } 
.jazz-admin .icon-extra-tablet{ background-position: -856px -602px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-settings{ background-position: -856px -677px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bullets{ background-position: -856px -751px; width: 27px; height: 23px; } 
.jazz-admin .icon-extra-cardio{ background-position: -856px -824px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-t-shirt{ background-position: -856px -900px; width: 28px; height: 23px; } 
.jazz-admin .icon-extra-pants{ background-position: -856px -973px; width: 19px; height: 24px; } 
.jazz-admin .icon-extra-sweater{ background-position: -856px -1047px; width: 29px; height: 24px; } 
.jazz-admin .icon-extra-fabric{ background-position: -856px -1121px; width: 27px; height: 22px; } 
.jazz-admin .icon-extra-leather{ background-position: -856px -1193px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-scissors{ background-position: -856px -1267px; width: 24px; height: 27px; } 
.jazz-admin .icon-extra-bomb{ background-position: -856px -1344px; width: 27px; height: 25px; } 
.jazz-admin .icon-extra-skull{ background-position: -856px -1419px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-celebration{ background-position: -856px -1493px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-tea_kettle{ background-position: -856px -1568px; width: 26px; height: 23px; } 
.jazz-admin .icon-extra-french_press{ background-position: -856px -1641px; width: 23px; height: 25px; } 
.jazz-admin .icon-extra-coffe_cup{ background-position: -856px -1716px; width: 25px; height: 19px; } 
.jazz-admin .icon-extra-pot{ background-position: -856px -1785px; width: 27px; height: 22px; } 
.jazz-admin .icon-extra-grater{ background-position: -856px -1857px; width: 18px; height: 24px; } 
.jazz-admin .icon-extra-kettle{ background-position: -856px -1931px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-hospital{ background-position: -942px 0; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-hospital_h{ background-position: -942px -74px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-microphone{ background-position: -942px -148px; width: 17px; height: 24px; } 
.jazz-admin .icon-extra-webcam{ background-position: -942px -222px; width: 19px; height: 24px; } 
.jazz-admin .icon-extra-temple_christianity_church{ background-position: -942px -296px; width: 24px; height: 25px; } 
.jazz-admin .icon-extra-temple_islam{ background-position: -942px -371px; width: 25px; height: 24px; } 
.jazz-admin .icon-extra-temple_hindu{ background-position: -942px -445px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-temple_buddhist{ background-position: -942px -519px; width: 28px; height: 22px; } 
.jazz-admin .icon-extra-bicycle{ background-position: -942px -591px; width: 33px; height: 21px; } 
.jazz-admin .icon-extra-life_preserver{ background-position: -942px -662px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-share_alt{ background-position: -942px -736px; width: 22px; height: 22px; } 
.jazz-admin .icon-extra-comments{ background-position: -942px -808px; width: 24px; height: 23px; } 
.jazz-admin .icon-extra-flower{ background-position: -942px -881px; width: 19px; height: 25px; } 
.jazz-admin .icon-extra-baseball{ background-position: -942px -956px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-rugby{ background-position: -942px -1032px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-ax{ background-position: -942px -1106px; width: 27px; height: 24px; } 
.jazz-admin .icon-extra-table_tennis{ background-position: -942px -1180px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bowling{ background-position: -942px -1254px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-tree_conifer{ background-position: -942px -1328px; width: 21px; height: 24px; } 
.jazz-admin .icon-extra-tree_deciduous{ background-position: -942px -1402px; width: 20px; height: 25px; } 
.jazz-admin .icon-extra-more_items{ background-position: -942px -1477px; width: 21px; height: 24px; } 
.jazz-admin .icon-extra-sort{ background-position: -942px -1551px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-filter{ background-position: -942px -1626px; width: 20px; height: 24px; } 
.jazz-admin .icon-extra-gamepad{ background-position: -942px -1700px; width: 27px; height: 19px; } 
.jazz-admin .icon-extra-playing_dices{ background-position: -942px -1769px; width: 27px; height: 23px; } 
.jazz-admin .icon-extra-calculator{ background-position: -942px -1842px; width: 21px; height: 24px; } 
.jazz-admin .icon-extra-tie{ background-position: -942px -1916px; width: 11px; height: 26px; } 
.jazz-admin .icon-extra-wallet{ background-position: -1028px 0; width: 25px; height: 20px; } 
.jazz-admin .icon-extra-piano{ background-position: -1028px -70px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-sampler{ background-position: -1028px -144px; width: 27px; height: 22px; } 
.jazz-admin .icon-extra-podium{ background-position: -1028px -216px; width: 28px; height: 21px; } 
.jazz-admin .icon-extra-soccer_ball{ background-position: -1028px -287px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-blog{ background-position: -1028px -362px; width: 21px; height: 23px; } 
.jazz-admin .icon-extra-dashboard{ background-position: -1028px -435px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-certificate{ background-position: -1028px -509px; width: 17px; height: 25px; } 
.jazz-admin .icon-extra-bell{ background-position: -1028px -584px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-candle{ background-position: -1028px -658px; width: 20px; height: 25px; } 
.jazz-admin .icon-extra-pushpin{ background-position: -1028px -733px; width: 23px; height: 23px; } 
.jazz-admin .icon-extra-iphone_shake{ background-position: -1028px -806px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-pin_flag{ background-position: -1028px -880px; width: 30px; height: 22px; } 
.jazz-admin .icon-extra-turtle{ background-position: -1028px -952px; width: 28px; height: 16px; } 
.jazz-admin .icon-extra-rabbit{ background-position: -1028px -1018px; width: 26px; height: 22px; } 
.jazz-admin .icon-extra-globe{ background-position: -1028px -1090px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-briefcase{ background-position: -1028px -1164px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-hdd{ background-position: -1028px -1235px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-thumbs_up{ background-position: -1028px -1306px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-thumbs_down{ background-position: -1028px -1377px; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-hand_right{ background-position: -1028px -1448px; width: 26px; height: 19px; } 
.jazz-admin .icon-extra-hand_left{ background-position: -1028px -1517px; width: 26px; height: 19px; } 
.jazz-admin .icon-extra-hand_up{ background-position: -1028px -1586px; width: 19px; height: 26px; } 
.jazz-admin .icon-extra-hand_down{ background-position: -1028px -1662px; width: 19px; height: 27px; } 
.jazz-admin .icon-extra-fullscreen{ background-position: -1028px -1739px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-shopping_bag{ background-position: -1028px -1813px; width: 23px; height: 26px; } 
.jazz-admin .icon-extra-book_open{ background-position: -1028px -1889px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-nameplate{ background-position: -1114px 0; width: 24px; height: 21px; } 
.jazz-admin .icon-extra-nameplate_alt{ background-position: -1114px -71px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-vases{ background-position: -1114px -143px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-bullhorn{ background-position: -1114px -217px; width: 25px; height: 20px; } 
.jazz-admin .icon-extra-dumbbell{ background-position: -1114px -287px; width: 26px; height: 16px; } 
.jazz-admin .icon-extra-suitcase{ background-position: -1114px -353px; width: 24px; height: 22px; } 
.jazz-admin .icon-extra-file_import{ background-position: -1114px -425px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-file_export{ background-position: -1114px -499px; width: 23px; height: 24px; } 
.jazz-admin .icon-extra-bug{ background-position: -1114px -573px; width: 22px; height: 24px; } 
.jazz-admin .icon-extra-crown{ background-position: -1114px -647px; width: 26px; height: 25px; } 
.jazz-admin .icon-extra-smoking{ background-position: -1114px -722px; width: 28px; height: 28px; } 
.jazz-admin .icon-extra-cloud_upload{ background-position: -1114px -800px; width: 27px; height: 20px; } 
.jazz-admin .icon-extra-cloud_download{ background-position: -1114px -870px; width: 27px; height: 22px; } 
.jazz-admin .icon-extra-restart{ background-position: -1114px -942px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-security_camera{ background-position: -1114px -1017px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-expand{ background-position: -1114px -1091px; width: 19px; height: 19px; } 
.jazz-admin .icon-extra-collapse{ background-position: -1114px -1160px; width: 19px; height: 19px; } 
.jazz-admin .icon-extra-collapse_top{ background-position: -1114px -1229px; width: 19px; height: 19px; } 
.jazz-admin .icon-extra-globe_af{ background-position: -1114px -1298px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-global{ background-position: -1114px -1372px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-spray{ background-position: -1114px -1446px; width: 22px; height: 27px; } 
.jazz-admin .icon-extra-nails{ background-position: -1114px -1523px; width: 22px; height: 26px; } 
.jazz-admin .icon-extra-claw_hammer{ background-position: -1114px -1599px; width: 27px; height: 26px; } 
.jazz-admin .icon-extra-classic_hammer{ background-position: -1114px -1675px; width: 25px; height: 26px; } 
.jazz-admin .icon-extra-hand_saw{ background-position: -1114px -1751px; width: 26px; height: 26px; } 
.jazz-admin .icon-extra-riflescope{ background-position: -1114px -1827px; width: 25px; height: 25px; } 
.jazz-admin .icon-extra-electrical_socket_eu{ background-position: -1114px -1902px; width: 23px; height: 23px; } 
.jazz-admin .icon-extra-electrical_socket_us{ background-position: -1200px 0; width: 23px; height: 23px; } 
.jazz-admin .icon-extra-pinterest{ background-position: -1200px -73px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-dropbox{ background-position: -1200px -147px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-google_plus{ background-position: -1200px -221px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-jolicloud{ background-position: -1200px -295px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-yahoo{ background-position: -1200px -369px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-blogger{ background-position: -1200px -443px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-picasa{ background-position: -1200px -517px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-amazon{ background-position: -1200px -591px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-tumblr{ background-position: -1200px -665px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-wordpress{ background-position: -1200px -739px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-instapaper{ background-position: -1200px -813px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-evernote{ background-position: -1200px -887px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-xing{ background-position: -1200px -961px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-zootool{ background-position: -1200px -1035px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-dribbble{ background-position: -1200px -1109px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-deviantart{ background-position: -1200px -1183px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-read_it_later{ background-position: -1200px -1257px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-linked_in{ background-position: -1200px -1331px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-forrst{ background-position: -1200px -1405px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-pinboard{ background-position: -1200px -1479px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-behance{ background-position: -1200px -1553px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-github{ background-position: -1200px -1627px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-youtube{ background-position: -1200px -1701px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-skitch{ background-position: -1200px -1775px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-4square{ background-position: -1200px -1849px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-quora{ background-position: -1200px -1923px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-badoo{ background-position: -1286px 0; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-spotify{ background-position: -1286px -74px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-stumbleupon{ background-position: -1286px -148px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-readability{ background-position: -1286px -222px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-facebook{ background-position: -1286px -296px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-twitter{ background-position: -1286px -370px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-instagram{ background-position: -1286px -444px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-posterous_spaces{ background-position: -1286px -518px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-vimeo{ background-position: -1286px -592px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-flickr{ background-position: -1286px -666px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-last_fm{ background-position: -1286px -740px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-rss{ background-position: -1286px -814px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-skype{ background-position: -1286px -888px; width: 24px; height: 24px; } 
.jazz-admin .icon-extra-email{ background-position: -1286px -962px; width: 24px; height: 24px; } 
