<div class="jazz-admin jazz-admin-sidebar" data-ng-hide="commons.showPreview">
	<div class="navbar navbar-inverse navbar-fixed-side">
		<div class="sidebar-box">
	
			<div data-ng-include="'modules/core/partials/sidebar-main.html'"></div>			
			
			<ul class="sidebar-main sidebar-main-tools">
				<li class="extra-collapse">
					<a href="javascript:void(0)" class="icon-stack">
						<i class="sidebar-icon icon-check-empty icon-stack-base"></i>
						<i class="sidebar-icon icon-chevron-left icon-2x"></i>
					</a>
				</li>
			</ul>			
								
			<div class="sidebar-closet sidebar-closet-closed">
				<div class="sidebar-socks">
					<div data-navigator class="sidebar-socks-inner"></div>
			    </div>	
			</div>	
			
		</div>		
	</div>
</div>